<div class="mx-auto md:w-2/3 w-full">
  <div class="flex justify-between items-center mb-20">
    <h1 class="font-bold text-4xl">新規予約</h1>
    <%= link_to '予約トップへ戻る', occupations_path, class: "ml-2 lnk_btn" %>
  </div>

  <div id="select-room" class="mt-5 mb-10">
    <select-room></select-room>
  </div>

</div>


<% content_for :meta_t do %>
<meta name="turbo-visit-control" content="reload">
<% end %>
