<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">新規 就業規則</h1>

  <%= render "form", regulation: @regulation %>

  <%= link_to "戻る", regulations_path, class: "ml-2 lnk_btn" %>
</div>
