@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
.new_btn {
  @apply rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium
}

.lnk_btn {
  @apply rounded-lg py-3 px-5 inline-block font-medium bg-gray-100
}
